body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
  }
  
  header {
      background-color: #9370db; /* Lavender purple color */
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  #main-content {
      max-width: 1500px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav {
      padding: 10px 0;
  }
  
  nav ul {
      list-style: none;
      padding: 10;
      display: flex;
      justify-content: center;
  }
  
  nav li {
    margin: 10 15px;
  }
  
  nav a {
      text-decoration: none;
      padding: 10px 15px;
      color: #fff;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out;
  }
  
  nav a:hover {
      background-color: #2c3e50; /* Set your preferred hover color */
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
    position: absolute;
    margin-left: 2%;
    margin-top: 0.5%;
}
  
  /* p {
    color: #666;
    margin-bottom: 10px;
  } */
  p {
    font-size: 18px;
    line-height: 1.6;
}

  h1 a {
    text-decoration: none;
    padding: 10px 15px;
    color: #080301;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
  
footer {
    background-color: #9370db; /* Lavender purple color */
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 3s ease forwards;
  }

  .fade-in2 {
    opacity: 0;
    animation: fadeInAnimation 15s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .typewriter {
    overflow: hidden;
    border-right: .15em solid #9370db;;
    white-space: nowrap;
    margin: 0 auto;
    animation: typewriter 4s steps(40, end);
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes float {
    from { transform: translateY(0); }
    to { transform: translateY(-20px); }
  }
  

  
  